/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

/*Standard style for body*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Old Standard TT', sans-serif;
    letter-spacing: 1px;
    color: whitesmoke;
    background-color: #000000;
    margin-left: 5px;
}

/*Center the text*/

.centered {
    text-align: center;
}

/*Style for instructions html body*/
#instructions-body {
    margin: 5px;
    padding: 5px;
}

/*Base color for header*/
header {
    color: whitesmoke;
}

/*Blinking text effect*/
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#start-game {
    bottom: 300px;
}

/*Style for the a element*/
a {
    color: whitesmoke;
    text-decoration: none;
}

/*Style for the index html*/
/*Flex for player details and form*/
.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#player-details {
    gap: 50px;
}

.input-field {
    margin: 10px 0;
}

#player-details p {
    margin-left: 5px;
}

#player-details a {
    margin-left: 5px;
    color: whitesmoke;
    text-decoration: none;
}

/*Style the name and age form on index*/
#entry {
    margin-left: 5px;
}

form {
    align-content: center;
    justify-content: center;
    align-items: center;
}

#start-button {
    margin-top: 20px;
    border: none;
    color: #fff;
    font-size: xx-large;
}

/*Neon effect if user hover over a button/nav link, and for heading on game page and 
for a link which appear at specific game path */
#start-button:hover,
.return-home:hover,
.choice-btn:hover,
.hover-effects:hover,
#heading,
#loop-link,
.message {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(156, 255, 229),
        0 0 82px rgb(156, 255, 229),
        0 0 92px rgb(156, 255, 229),
        0 0 102px rgb(156, 255, 229),
        0 0 151px rgb(156, 255, 229);
}

/*Style the Feedback text and the headers*/
.message {
    animation: blinker 6s linear infinite;
}

/*404 page*/
.error-header {
    font-size: 400%;
}

/*Style for the buttons after the name and age are provided by user*/
.nav-btn {
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: xx-large;
    animation: blinker 4s linear infinite;
}

/*BG and font color on game page */
#game-body {
    background-color: #000000;
    color: whitesmoke;
    font-family: 'Old Standard TT', sans-serif;
}

/*Hide elements in header on game page*/
.hidden-element {
    display: none;
}

/*Footer on index html*/
#contact {
    font-size: xx-large;
    margin-left: 5px;
}

/*Flex for the main on game page*/
#game {
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#heading {
    animation: blinker 4s linear infinite;
}

/*Style for the buttons on the game page*/
#choices {
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.choice-btn {
    letter-spacing: 1px;
    margin-top: 10px;
    padding-bottom: 5px;
    background-color: #000000;
    color: whitesmoke;
    border: none;
    font-size: large;
    background: transparent;
    font-family: 'Old Standard TT', sans-serif;
    z-index: 99;
}

#game-text {
    padding: 5px 10px;
}

/*Style for the a element which will appear after specific choices*/
#loop-link {
    display: block;

}

/*Padding between footer and video*/
main {
    padding-bottom: 27px;
}

/* Go back to the index html */
#reset-game {
    padding-bottom: 5px;
    font-size: x-large;
}

/*Position of the mute/unmute audio button*/
#audio-btn {
    border: none;
    background-color: #000000;
    font-size: x-large;
    color: whitesmoke;
}

/* Make the reset and mute/unmute button to fixed postion on the bottom of the page*/
footer {
    position: fixed;
    background-color: #000000;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 2px;
    border-top: #000000;
    box-shadow: 0 2px 2px #000000;
    padding-top: 5px;
}

/* Add flex for the nav logos in footer*/
#nav-links {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

/*Style for the video*/
.video {
    width: 97.5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #000000;
    margin: 0 auto;
    max-width: 85%;
    display: block;
    border: 1px solid black;
    border-radius: 2%;
}

/*Leave empty space on the right side on isntructions*/
#instructions {
    padding-right: 5px;
}

/* Media query: large or landscape phones (400px and up)*/
@media screen and (min-width:400px) {
    #game {
        font-size: large;
    }

    .choice-btn {
        font-size: large;
    }

    #game-main {
        padding-bottom: 35px;
    }

    body {
        font-size: larger;
    }
}

/* Media query: tablets (700px and up)*/
@media screen and (min-width:700px) {
    #game {
        font-size: x-large;
    }

    .choice-btn {
        font-size: 110%;
    }

    body {
        font-size: 220%;
    }

    #index-footer {
        font-size: 60%;
    }

    #game-text {
        font-size: larger;
    }

    .video {
        max-width: 65%;
    }
}

/* Media query: laptop (1024px and up)*/
@media screen and (min-width:1024px) {
    .video {
        max-width: 35%;
    }
}