/*Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

/*Standard style for body*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Old+Standard+TT', sans-serif;
    letter-spacing: 1px;
}

/*Flex for the game page*/
#game {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

/*Style for the buttons on the game page*/
.choices-btn {
    letter-spacing: 1px;
    margin-top: 150px;
    padding-bottom: 5px;

}