/*Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

/*Standard style for body*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Old+Standard+TT', sans-serif;
    letter-spacing: 1px;
    color: whitesmoke;
    background-color: #1C1C1C;
    margin-left: 5px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: salmon;
}

/*Style for the index html*/

#player-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#player-details p {
    margin-left: 5px;
}

#player-details a {
    margin-left: 5px;
    color: whitesmoke;
    text-decoration: none;
}

#player-details a:hover {
    color: salmon;
}

/*Style the name and age form on index*/
#entry {
    margin-left: 5px;
}

#name {
    margin-right: 85px;
}

#start-button {
    margin-right: 50px;
    margin-top: 20px;
}

/*BG color on game page */

#game-body {
    background-color: #1C1C1C;
    color: whitesmoke;
}

header {
    color: whitesmoke;
}

/*Hide elements in header on game page*/
.hidden-element {
    display: none;
}

/*Flex for the game page*/
#game {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

/*Style for the buttons on the game page*/
.choice-btn {
    letter-spacing: 1px;
    margin-top: 10px;
    padding-bottom: 5px;
    background-color: #1C1C1C;
    color: whitesmoke;

}

#game h2 {
    text-align: center;
}

#game-text {
    padding-top: 5px;
}

/*Padding between footer and video*/
main {
    padding-bottom: 27px;
}

/* Go back to the index html */

#reset-game {
    padding-bottom: 5px;
    font-size: x-large;
}

#reset-game:hover {
    color: salmon;
}

/*Position of the mute/unmute audio button*/
#audio-btn {
    border: none;
    background-color: transparent;
    font-size: x-large;
    color: whitesmoke;
}

/* Make the reset and mute/unmute button to fixed postion on the bottom of the page*/
footer {
    position: fixed;
    background-color: #1C1C1C;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-bottom: 2px;
    border-top: black;
    box-shadow: 0 2px 2px black;
}

#nav-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/*Style for the video*/

#video {
    width: 97.5%;
    max-width: 600px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #000;
    margin-top: 15px;
}

/*Leave empty space on the right side on isntructions*/
#instructions {
    padding-right: 5px;
}

.nav-btn {
    padding-top: 10px;
    padding-bottom: 5px;
}

